.header {
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #a6a699;
  border-bottom: rgb(59, 59, 59) 1px solid;
  .title {
    font-size: 32px;
  }
  .link a {
    margin: 0px 25px;
  }
}
